.outil3{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
    
  }
  

  .w3-bar .w3-button {
    padding: 16px;
  }

  

  body{
      background-color: white;
  }


  .btn {
   
    border: 0;
    border-radius: 5px;
    padding: 8px 13px;
    background: #5c5e61;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
  
    
    text-transform: uppercase;
    
}

.ab {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
   }





figure img {
  width: 290px; height: 290px; 
  border-radius: 7px 7px  0px 0px;
}

figure {
  
  background-color: rgb(255, 255, 255);
border-radius: 7px 7px  0px 0px;
  height: 390px;
}

.deux{
  display : flex ;
  justify-content: space-between;
}



